.user-action-btn a {
	border: none;
	color: var(--text);
	font-size: 0.8rem;
	padding: 10px 0px;
	width: 30px;
	border-radius: 2px;
	color: var(--text-muted);
}

.user-util button.btn-add-user {
	background-color: var(--primary);
	color: var(--bg);
	transition: all 0.35ms ease-in-out;
	font-size: 0.8rem;
}

.user-util button.btn-add-user:hover {
	background-color: var(--accent-clay);
}

.user-util .btn-filter-export {
	background-color: var(--primary-light);
	color: var(--primary);
	border: 1px solid var(--border-hover);
	height: 40px;
	border-radius: 8px;
	transition: all 0.2s ease-in-out;
}

.user-filter .btn-filter-export:hover,
.user-util .btn-filter-export:hover {
	background-color: var(--primary-soft);
	border-color: var(--border);
}

.user-filter .btn-filter-export:active,
.user-util .btn-filter-export:active {
	background-color: var(--primary-light);
}

.top-bar {
	display: flex;
	align-items: center;
	gap: 10px;
}

.user-filter {
	flex: 1; /* 🔥 makes it fill remaining space */
	display: flex;
	align-items: center;
}

.dt-search {
	flex-shrink: 0; /* keep search width */
}

.user-util {
	flex-shrink: 0; /* keep button size */
}

#userTable_wrapper .dt-search {
	margin-bottom: 20px !important;
}

.filter-option {
	max-width: 0;
	opacity: 0;
	overflow: hidden;
	transition:
		max-width 0.5s ease,
		opacity 0.5s ease;
}

.filter-option.collapsed {
	max-width: 100%; /* adjust based on content */
	opacity: 1;
}

.filter-option form select,
.filter-option form select option {
	font-size: 0.8rem;
}

.create-account label,
.create-account input,
.create-account select,
.create-account span.text-danger,
.create-account span.password-valid {
	font-size: 0.8rem;
}

#approve_user .modal-dialog {
	max-height: 80vh;
	overflow-y: auto;
}

#approve_user .modal-body .btn {
	width: 30px;
	height: 30px;
	padding: 0;
	display: flex;
	align-items: center;
	justify-content: center;
}

#approve_user .modal-body .btn i {
	font-size: 1.2rem;
	color: var(--text-muted) !important;
}

#approve_user .modal-body .btn:hover {
	border: 3px solid var(--border-hover);
}
